# Working with the SQLite database

This tutorial shows how to connect to a simple SQLite database. In this workbook, we create a database based on our previous excel file. 

We use that database in the machine learning UI later on. First, we read the data from the .csv file, then we create a database from that data. 

In the end, we just execute the standard "SELECT * from ..." statement to check that the data is accessible.

In [25]:
# create the database
import sqlite3

# create the engine
from sqlalchemy import create_engine

conn = sqlite3.connect(':memory:')

c = conn.cursor()

In [26]:
# read the excel file with the data
# and save the data to the database
import pandas as pd

# read the excel file
df = pd.read_excel('chapter_12.xlsx', sheet_name='ant_1_3')

# print the first 5 rows
print(df.head())

# create the enginve that we use to connect to the database to 
# save the data
engine = create_engine('sqlite:///:memory:')

# save the dataframe to the database
df.to_sql('ant_1_3', engine, index=False, if_exists='replace')

                             ClassName  CBO  DCC  ExportCoupling  \
0  org.apache.tools.ant.AntClassLoader    9    2               7
1      org.apache.tools.ant.BuildEvent    6    3               5
2  org.apache.tools.ant.BuildException   80    1              79
3   org.apache.tools.ant.BuildListener    1    1               1
4     org.apache.tools.ant.BuildLogger    1    0               1

   ImportCoupling  NOM  WMC  Defect
0               2   13   41       1
1               3    8    8       0
2               1    7    9       0
3               1    7    7       0
4               0    4    4       0

116

In [28]:
# serialize to disk
c.execute("vacuum main into 'saved.db'")

In [9]:
# create the table based on the dataframe structure
# create the database and table
# create the engine
from sqlalchemy import create_engine

engine = create_engine('sqlite:///ant13.db')

# save the dataframe to the database
df.to_sql('ant_1_3', engine, index=False, if_exists='replace')

116

## Retrieving the data

Just for the final check, let's obtain the data from the database.

In [14]:
# select all rows from that database
data = c.execute('SELECT * FROM ant_1_3').fetchall()

In [18]:
# and now, let's create a dataframe from that data
df = pd.DataFrame(data)

# get the names of the columns from the SQL database
# and use them as the column names for the dataframe
df.columns = [x[0] for x in c.description]

# print the head of the dataframe
df.head()

,ClassName,CBO,DCC,ExportCoupling,ImportCoupling,NOM,WMC,Defect
0,org.apache.tools.ant.AntClassLoader,9,2,7,2,13,41,1
1,org.apache.tools.ant.BuildEvent,6,3,5,3,8,8,0
2,org.apache.tools.ant.BuildException,80,1,79,1,7,9,0
3,org.apache.tools.ant.BuildListener,1,1,1,1,7,7,0
4,org.apache.tools.ant.BuildLogger,1,0,1,0,4,4,0

In [21]:
# get the name of the tables that exist in the database
c.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()

[('ant_1_3',)]